# Compiler files
contracts/cache/
contracts/out/

# Ignores development broadcast logs
!contracts/broadcast
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
